body {
  overflow-x: hidden;
}

/* Header box */

div.wrapper > div.header {
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid gainsboro;
  box-shadow: 0px 1px 5px gainsboro;
}

/* vertical menu */
div.wrapper > div.header > div.vertical-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

/* menu  icon*/
div.wrapper > div.header > div.vertical-menu > div.menu {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  justify-self: flex-end;
  margin-right: 30px;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 250ms linear;
}
div.wrapper > div.header > div.vertical-menu > div.menu::after {
  content: "";
  opacity: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 200ms linear;
  background-color: #f0f0f0;
}
div.wrapper > div.header > div.vertical-menu > div.menu:hover::after {
  opacity: 1;
  width: 45px;
  height: 45px;
}

div.wrapper > div.header > div.vertical-menu > div.menu > div {
  width: 22px;
  height: 2px;
  border-radius: 5px;
  position: relative;
  z-index: 5;
  background-color: black;
}

/* cover div */
div.wrapper > div.header > div.vertical-menu > div.menu > div.cover {
  width: 100%;
  height: calc(100% - 80px);
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;
  display: none;
  background-color: rgba(0, 0, 0, 0.39);
}
/* sum menu */
div.wrapper > div.header > div.vertical-menu > div.menu > div.s-menu {
  top: 80px;
  right: -800px;
  width: 80%;
  display: none;
  z-index: 2;
  border-radius: 0;
  height: calc(100% - 80px);
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 1px 5px gainsboro;
}

/* menu items */
div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.menu-items {
  width: 85%;
  height: 45%;
  margin: 0 auto;
  border-bottom: 3px solid rgb(228, 228, 228);
}

div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.menu-items
  > nav {
  width: 100%;
  height: 100%;
}

div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.menu-items
  > nav
  > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 40px;
}
div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.menu-items
  > nav
  > ul
  > li {
  width: 100%;
}
div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.menu-items
  > nav
  > ul
  > li
  > a {
  font-family: SoDoSans-Regular;
  color: black;
  text-transform: capitalize;
  font-size: 20px;
}

/* links */
div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.links {
  width: 90%;
  height: 30%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/* loction div */

div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.links
  > div.location {
  order: 2;
   height: 100%;
  display: flex;
}

div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.links
  > div.location
  > a {
  font-family: SoDoSans-Regular;
  color: black;
  font-size: 18px;
}

div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.links
  > div.location
  > a:hover {
  color: #4d917a;
}

div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.links
  > div.location
  > a
  > i {
  font-size: 20px;
  margin-right: 10px;
}

/* buttons div */
div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.links
  > div.buttons {
  order: 1;
  height: 100%;
  display: flex;
  align-items: center;

}
div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.links
  > div.buttons
  > a:nth-of-type(1) {
  color: black;
  border: 1px solid black;
  padding: 8px 18.5px;
  border-radius: 30px;
  margin-right: 15px;
  transition: all 250ms linear;
}

div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.links
  > div.buttons
  > a:nth-of-type(1):hover {
  background-color: rgb(230, 230, 230);
}

div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.links
  > div.buttons
  > a:nth-of-type(2) {
  color: white;
  background-color: black;
  padding: 8px 18.5px;
  border-radius: 30px;
  transition: all 250ms linear;
}

div.wrapper
  > div.header
  > div.vertical-menu
  > div.menu
  > div.s-menu
  > div.links
  > div.buttons
  > a:nth-of-type(2):hover {
  background-color: rgba(0, 0, 0, 0.568);
}

/* starbucks icon */

div.wrapper > div.header > div.vertical-menu > div.logo {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: left;
}
div.wrapper > div.header > div.vertical-menu > div.logo > a > img {
  width: 45px;
}

/* Horizontal menu */
div.wrapper > div.header > div.horizontal-menu {
  display: none;
}


  /* containers */
div.wrapper>div.containers{
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-flow: column nowrap;
  gap: 35px;
}

/* whole containers common properties */
div.wrapper>div.containers>div{
  width: 100%;
  height:fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
div.wrapper>div.containers>div>img{
  height: 65%;
  width: 100%;
}

div.wrapper>div.containers>div>div.content{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px 0;

}
div.wrapper>div.containers>div>div.content>h2{
  width: 950%;
  letter-spacing: 3px;
  text-align: center;
}
div.wrapper>div.containers>div>div.content>a{
  font-size: 15px;
  font-family: SoDoSans-SemiBold;
  padding: 8px 18.5px;
  border-radius: 30px;
  transition: all 250ms linear;
}
div.wrapper>div.containers>div>div.content>p{
  width: 95%;
  text-align: center;
  line-height: 30px;
}


/* container 01 */
div.wrapper>div.containers>div:nth-of-type(1){
  background-color: #1E3932;
}

div.wrapper>div.containers>div:nth-of-type(1)>div.content>a{
  color: white;
  border: 1px solid white;
}
div.wrapper>div.containers>div:nth-of-type(1)>div.content>h2{
  letter-spacing: 0;
  font-size: 25px;
  color: white;
}
div.wrapper>div.containers>div:nth-of-type(1)>div.content>p{
  font-size: 18px;
  color: white;
}



/* container 02 */
div.wrapper>div.containers>div:nth-of-type(2){
  min-height: 450px;
  background-color: #b2b267;
}

div.wrapper>div.containers>div:nth-of-type(2)>div.content>a{
  color: black;
  border: 1px solid black;
}
div.wrapper>div.containers>div:nth-of-type(2)>div.content>h2{
  font-size: 30px;
  color: black;
}
div.wrapper>div.containers>div:nth-of-type(2)>div.content>p{
  font-size: 25px;
  color: black;
}


/* container 03 */
div.wrapper>div.containers>div:nth-of-type(3){
  min-height: 450px;
  background-color: #EFABFC;
}

div.wrapper>div.containers>div:nth-of-type(3)>div.content>a{
  color: black;
  border: 1px solid black;
}

div.wrapper>div.containers>div:nth-of-type(3)>div.content>h2{
  font-size: 30px;
  color: black;
}
div.wrapper>div.containers>div:nth-of-type(3)>div.content>p{
  font-size: 25px;
  color: black;
}

/* container 04 */
div.wrapper>div.containers>div:nth-of-type(4){
  min-height: 450px;
  background-color: #eec0ab;
}

div.wrapper>div.containers>div:nth-of-type(4)>div.content>a{
  color: black;
  border: 1px solid black;
}
div.wrapper>div.containers>div:nth-of-type(4)>div.content>h2{
  font-size: 30px;
  color: black;
}
div.wrapper>div.containers>div:nth-of-type(4)>div.content>p{
  font-size: 25px;
  color: black;
}


/* container 05 */
div.wrapper>div.containers>div:nth-of-type(5){
  min-height: 600px;
  background-color: #1e3932;
}



div.wrapper>div.containers>div:nth-of-type(5)>div.content>a{
  color: white;
  border: 1px solid white;
}

div.wrapper>div.containers>div:nth-of-type(5)>div.content>h2{
  font-size: 30px;
  color: white;
}
div.wrapper>div.containers>div:nth-of-type(5)>div.content>p{
  font-size: 27px;
  color: white;
}

/* the paragraph under containers */
div.wrapper>div.paragraph{
  width:100%;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
div.wrapper>div.paragraph>p{
  width:95%;
  margin: 30px 0;
  font-size: 14px;
  text-align: center;
  line-height: 30px; 
}
div.wrapper>div.paragraph>p>a{
  color: black;
  text-decoration: 1px underline solid; 
}
div.wrapper>div.paragraph>p>a:hover{
  text-decoration: none; 
}


/* footer */

div.wrapper > div.footer {
  width: 100%;
  background-color: white;
  border-top: 1px solid gainsboro;
  box-shadow: 0px 0px 5px gainsboro;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
div.wrapper > div.footer > div.f-menu {
  width: 95%;
  display: flex;
  justify-content: center;
}
div.wrapper > div.footer > div.f-menu > nav {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  flex-flow: column nowrap;
  border-bottom: 3px solid gainsboro;
  padding: 30px 0;
}

div.wrapper > div.footer > div.f-menu > nav > li.titr {
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  padding: 15px 0;
}

div.wrapper > div.footer > div.f-menu > nav > li.titr > i {
  color: rgba(0, 0, 0, 0.616);
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
}
div.wrapper > div.footer > div.f-menu > nav > li.titr > div {
  width: 100%;
  height: fit-content;
  display: none;
}
div.wrapper > div.footer > div.f-menu > nav > li.titr > div > ul {
  width: 100%;
  height: 100%;
}
div.wrapper
  > div.footer
  > div.f-menu
  > nav
  > li.titr
  > div
  > ul
  > li:nth-of-type(1) {
  padding-top: 25px;
}
div.wrapper > div.footer > div.f-menu > nav > li.titr > div > ul > li {
  padding: 10px 0;
}
div.wrapper > div.footer > div.f-menu > nav > li.titr > div > ul > li > a {
  color: rgba(0, 0, 0, 0.616);
  font-size: 16px;
}
div.wrapper
  > div.footer
  > div.f-menu
  > nav
  > li.titr
  > div
  > ul
  > li
  > a:hover {
  color: black;
}



/* social media icons */
div.wrapper > div.footer > div.social-media {
  width: 95%;
  height: 120px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

div.wrapper > div.footer > div.social-media > div {
  width: 50px;
  height: 50px;
  margin: 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms linear;
}
div.wrapper > div.footer > div.social-media > div:nth-of-type(1) {
  margin-left: 0;
}

div.wrapper > div.footer > div.social-media > div::before {
  content: "";
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #f0f0f0;
  transition: all 250ms linear;
}

div.wrapper > div.footer > div.social-media > div:hover::before {
  opacity: 1;
  width: 55px;
  height: 55px;
}

div.wrapper > div.footer > div.social-media > div > a > img {
  width: 35px;
  display: block;
  position: relative;
}
/* links */
div.wrapper > div.footer > div.links {
  width: 95%;
  height: 100%;
  height: 265px;
}
div.wrapper > div.footer > div.links > ul {
  width: 95%;
  display: flex;
  gap: 25px;
  flex-flow: column nowrap;
}

div.wrapper > div.footer > div.links > ul > li > a {
  color: black;
  font-size: 16px;
}

div.wrapper > div.footer > div.links > ul > li > a:hover {
text-decoration: underline;
}

/* copyright */
div.wrapper > div.footer > div.copyright {
  margin-top: 15px;
  width: 95%;
  height: 65px;
  display: flex;
  align-items:start;
}
div.wrapper > div.footer > div.copyright > p {
  color: rgba(0, 0, 0, 0.61);
  font-size: 14px;
}
